.dot
.DS_Store
.idea/
.vs/
compiler/Ara.sln.DotSettings.user
bin/
obj/
parser/build/
parser/bin/
parser/node_modules/
parser/bindings/
parser/src/node-types.json
parser/src/parser.c
parser/Cargo.toml
parser/src/grammar.json
parser/src/tree_sitter/parser.h
